.cover {
    position: relative;
    background: white;
    overflow: hidden; 
}

.popover {
    max-width: 400px;
}

#popover-content-login > * {
    background-color: antiquewhite !important;
}

.carousel {
    position: fixed;
    z-index: -2;
    overflow: hidden;
}

.album {
    z-index: 10;
    margin-top: 350.22px;
    margin-bottom: 353px;
}

/* .container {
    background-image: linear-gradient(brown, pink);
    height: 380px;
} */

.jumbotron {
    height: 320px !important;
    background-image: linear-gradient(rgb(127, 142, 155));
}

footer {
    background: brown;
    background-image: linear-gradient(white, yellow);
    color: rgba(53, 47, 33, .75);
    padding: 40px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.legal {
    text-align: left;
    padding: 1em; 
    margin: 1em 0;
}

/* ----- Media Queries ----- */

/* Small Devices */
@media(min-width: 576px) {

}

/* Medium Devices */
@media(min-width: 768px) {

}

/* Large Devices */
@media(min-width: 992px) {

}

/* Extra Large Devices */
@media(min-width: 1200px) {

}